/* @import "./fonts.css";  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* fallback variables */
  --backdrop-color: 255, 255, 255;
  --font-color-primary: 255, 255, 255;
  --font-color-secondary: 102, 102, 102;
  --font-color-positive: 108, 64, 181;
}

body {
  /* variables */
  --backdrop-color: 255, 255, 255;
  --font-color-primary: 255, 255, 255;
  --font-color-secondary: 102, 102, 102;
  --font-color-positive: 108, 64, 181;

  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("../assets/bg-light.png") center;
  transition: background-color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
}

body.dark {
  /* variables */
  --backdrop-color: 0, 0, 0;
  --font-color-primary: 255, 255, 255;
  --font-color-secondary: 255, 255, 255;
  --font-color-positive: 255, 255, 255;

  background: url("../assets/bg-dark.png") center;
  color: #dadada;
}
